<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova.plugin.ingenico" version="0.0.24">
   <name>cordovaPluginIngenico</name>
   <js-module name="cordovaPluginIngenico" src="www/cordovaPluginIngenico.js">
      <clobbers target="cordova.plugins.cordovaPluginIngenico" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="cordovaPluginIngenico">
            <param name="android-package" value="cordova.plugin.ingenico.cordovaPluginIngenico" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/cordovaPluginIngenico.java" target-dir="src/cordova/plugin/ingenico/cordovaPluginIngenico" />
      <framework src="src/android/cordovaPluginIngenico.gradle" custom="true" type="gradleReference" />
      <resource-file src="aar/iconnecttsiwrapper-arm-release.aar" target="libs/iconnecttsiwrapper-arm-release.aar" />      
   </platform>
</plugin>